<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lhj.png</key>
			<dict>
				<key>width</key>
				<integer>641</integer>
				<key>height</key>
				<integer>458</integer>
				<key>originalWidth</key>
				<integer>641</integer>
				<key>originalHeight</key>
				<integer>458</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yxd.png</key>
			<dict>
				<key>width</key>
				<integer>687</integer>
				<key>height</key>
				<integer>306</integer>
				<key>originalWidth</key>
				<integer>687</integer>
				<key>originalHeight</key>
				<integer>306</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>459</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cyj.png</key>
			<dict>
				<key>width</key>
				<integer>629</integer>
				<key>height</key>
				<integer>535</integer>
				<key>originalWidth</key>
				<integer>629</integer>
				<key>originalHeight</key>
				<integer>535</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bnhj.png</key>
			<dict>
				<key>width</key>
				<integer>827</integer>
				<key>height</key>
				<integer>286</integer>
				<key>originalWidth</key>
				<integer>827</integer>
				<key>originalHeight</key>
				<integer>286</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>536</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mwhj.png</key>
			<dict>
				<key>width</key>
				<integer>850</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>850</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>823</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tjhy.png</key>
			<dict>
				<key>width</key>
				<integer>910</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>910</integer>
				<key>originalHeight</key>
				<integer>243</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1140</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pzlg.png</key>
			<dict>
				<key>width</key>
				<integer>869</integer>
				<key>height</key>
				<integer>410</integer>
				<key>originalWidth</key>
				<integer>869</integer>
				<key>originalHeight</key>
				<integer>410</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1384</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guang2.png</key>
			<dict>
				<key>width</key>
				<integer>1000</integer>
				<key>height</key>
				<integer>629</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>629</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>823</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gg0014.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1318</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gg0017.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>870</integer>
				<key>y</key>
				<integer>1453</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gg0020.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1271</integer>
				<key>y</key>
				<integer>1453</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gongji1.png</string>
			<key>realTextureFileName</key>
			<string>gongji1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>