<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dh1.jpg</key>
			<dict>
				<key>width</key>
				<integer>1920</integer>
				<key>height</key>
				<integer>1080</integer>
				<key>originalWidth</key>
				<integer>1920</integer>
				<key>originalHeight</key>
				<integer>1080</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j16.png</key>
			<dict>
				<key>width</key>
				<integer>553</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>553</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1081</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j17.png</key>
			<dict>
				<key>width</key>
				<integer>538</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>538</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j15.png</key>
			<dict>
				<key>width</key>
				<integer>538</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>538</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1164</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huih.png</key>
			<dict>
				<key>width</key>
				<integer>418</integer>
				<key>height</key>
				<integer>353</integer>
				<key>originalWidth</key>
				<integer>418</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nv2.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>285</integer>
				<key>originalWidth</key>
				<integer>285</integer>
				<key>originalHeight</key>
				<integer>285</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1552</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kapai/sg-caoz2.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>285</integer>
				<key>originalWidth</key>
				<integer>285</integer>
				<key>originalHeight</key>
				<integer>285</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>1198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kapai/sg-caoz.png</key>
			<dict>
				<key>width</key>
				<integer>469</integer>
				<key>height</key>
				<integer>660</integer>
				<key>originalWidth</key>
				<integer>469</integer>
				<key>originalHeight</key>
				<integer>660</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>1081</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>rens.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1838</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dtz.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>1552</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jineng/jn_s1.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>1653</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jineng/jn_s2.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>1838</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jishiqi.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>1653</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tijiao1.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>377</integer>
				<key>y</key>
				<integer>1804</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tijiao2.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1175</integer>
				<key>y</key>
				<integer>1081</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tijiao3.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>377</integer>
				<key>y</key>
				<integer>1888</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xz2.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1942</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xz1.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>1175</integer>
				<key>y</key>
				<integer>1165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xz4.png</key>
			<dict>
				<key>width</key>
				<integer>464</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>464</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>1175</integer>
				<key>y</key>
				<integer>1250</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xz3.png</key>
			<dict>
				<key>width</key>
				<integer>464</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>464</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>641</integer>
				<key>y</key>
				<integer>1742</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sxn1.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>1081</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sxy.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>1921</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sxy1.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>1921</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xz5.png</key>
			<dict>
				<key>width</key>
				<integer>693</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>693</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>641</integer>
				<key>y</key>
				<integer>1827</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nguang1.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1175</integer>
				<key>y</key>
				<integer>1335</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nguang2.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>1369</integer>
				<key>y</key>
				<integer>1335</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>quer1.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1439</integer>
				<key>y</key>
				<integer>1081</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>quer2.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>641</integer>
				<key>y</key>
				<integer>1912</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zdl.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1388</integer>
				<key>y</key>
				<integer>1165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>SHIHUN~10.png</string>
			<key>realTextureFileName</key>
			<string>SHIHUN~10.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>